@model IEnumerable<BusTicket.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanceledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeoutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Traveller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanceledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traveller.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
