@model BusTicket.Models.BusSeat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BusSeat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bus.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
