<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Bus Ticket - Bus Booking System Reservation in Myanmar">
    <meta name="author" content="Khaing Thiha">
    <meta name="keyword" content="Bus,Booking,Ticket,Bus Reservation,Bus Ticket">
    <title>@ViewData["Title"] - Khaing Bus Ticket</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon.ico">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="~/lib/coreui/coreui/dist/css/coreui.min.css">
    <link rel="stylesheet" href="~/lib/coreui/icons/css/all.min.css">
</head>
<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand d-lg-down-none">
            <img src="~/logo.png" class="c-sidebar-brand-full" height="46" alt="Khaing Logo">
            <img src="~/logo.png" class="c-sidebar-brand-minimized" height="46" alt="Khaing Logo">
        </div>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Home" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-speedometer"></i></span>
                    BusTicket

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="BusOperators" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-opentype"></i></span>
                    BusOperator

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Buses" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-bus-alt"></i></span>
                    Bus

                </a>
            </li>

            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Cities" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-house"></i></span>
                    City

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Routes" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-opentype"></i></span>
                    Routes

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="RouteDetails" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-router"></i></span>
                    RouteDetails

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Schedules" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-opentype"></i></span>
                    Schedule

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="ScheduleDetails" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-opentype"></i></span>
                    ScheduleDetail

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Travellers" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-opentype"></i></span>
                    Traveller

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="Bookings" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-voice-over-record"></i></span>
                    Booking

                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" asp-area="" asp-controller="BookingDetails" asp-action="Index">

                    <span class="c-sidebar-nav-icon"><i class="cil-devices"></i></span>
                    BookingDetail

                </a>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
                <span class="c-sidebar-nav-icon"><i class="cil-menu"></i></span>
            </button><a class="c-header-brand d-lg-none" href="#">
            @*<span class="c-sidebar-nav-icon">
                Khaing
            </span>*@
            </a>
                     <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true">
      
                         <i class="cil-menu"></i>
                     </button>
            <ul class="c-header-nav d-md-down-none">
                <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Dashboard</a></li>
            </ul>
            <ul class="c-header-nav ml-auto mr-4">
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <i class="cil-bell"></i>

                    </a>
                </li>
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <i class="cil-list-rich"></i>
                        @*<svg class="c-icon">
                    <use xlink:href="node_modules/@coreui/icons/sprites/free.svg#cil-list-rich"></use>
                </svg>*@
                    </a>
                </li>
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <span class="class=" c-icon"">
                            <i class="cil-envelope-open"></i>
                        </span>


                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="c-header-nav-item dropdown">
                        <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <div class="c-avatar" title="@UserManager.GetUserName(User)">
                                <i class="cil-user"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pt-0">
                            <div class="dropdown-header bg-light py-2">
                                <strong>Account</strong>
                            </div>

                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="@UserManager.GetUserName(User)">

                                <span class="c-icon mr-2">
                                    <i class="cil-user"></i>
                                </span>
                                Profile
                            </a>
                            <div class="dropdown-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark d-none">
                                    </button>
                                    <label for="logout" style="cursor:pointer;">

                                        <span class="c-icon mr-2">
                                            <i class="cil-account-logout"></i>
                                        </span>
                                        Logout

                                    </label>
                                </form>
                            </div>

                        </div>
                    </li>
                }
                </ul>
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">

                        <div>
                            @RenderBody()
                        </div>

                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div>
                    &copy; 2020 - BusTicket - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/coreui/coreui/dist/js/coreui.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
